<div class="container">
  <header>
    <button class="btn-add" (click)="createNote(tag.value)">Add New Note</button>
    <div>
      <select name="tag" id="tag" #tag>
        <option value="work" selected>Work</option>
        <option value="study">Study</option>
        <option value="social">Social</option>
      </select>
      <input type="text" name="topic" [(ngModel)]="title" class="topic" placeholder="Your topic...">
      <span *ngIf="title.trim() === ''">Please type your topic</span>
    </div>
    <div class="display">
      <i class="fa-solid fa-list" (click)="isDisplayGrid = true"></i>
      <i class="fa-solid fa-table" (click)="isDisplayGrid = false"></i>
    </div>
  </header>
  <app-note id="note" [isDisplayGrid]="isDisplayGrid"></app-note>
</div>
